# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.local
*.env

# macOS junk
.DS_Store

# Pytest cache
.pytest_cache/

# AWS local config
.aws/

# Local builds / SAM
.aws-sam/
.sam-cache/

# Node frontend (if you add one later)
node_modules/
dist/
build/
